@font-face {
  font-family: "Bebas Neue";
  src: url(BebasNeue-Regular.ttf);
}

@font-face {
  font-family: "Clash Grotesk";
  src: url(ClashDisplay-Regular.otf);
}

@font-face {
  font-family: "Manrope";
  src: url(Manrope-Regular.ttf);
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#horizontal {
  background-image: url("assets/Vertical\ Lines.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 83.33% 100%;
  width: 1920px;
  height: 100%;
  margin: auto;
  color: 492008;
  display: flex;
  align-items: center;
}

#body {
  background-image: url("assets/Horizontal\ Lines.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 1920px;
  /* height: 9318px; */
  margin: auto;
  color: 492008;
  overflow: hidden;
}

nav {
  display: flex;
  justify-content: end;
  height: 160px;
}

nav ul {
  display: flex;
  width: 751px;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: -8px 10px 40px 0px rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(7.5px);

  margin: 59px 0;
  text-decoration: none;
  list-style-type: none;

  color: #492008;
  font-family: "Clash Grotesk";
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

#container1 {
  width: 1600px;
  height: 960px;
  margin: auto;
  display: flex;
}

#mambo {
  color: #492008;
  font-family: "Bebas Neue";
  font-size: 384px;
  font-style: normal;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
  /* background: firebrick; */
  width: 960px;
  height: 269px;
  display: flex;
  align-items: center;
  margin-left: -13px;
  margin-top: 18px;
}

#ecosystemDiv {
  display: flex;
  align-items: center;
  position: relative;
  bottom: 11px;
  width: 960px;
}

#ecosystemImg {
  width: 640px;
  height: 9px;
  margin-top: 22px;
}

#container1_1_p1 {
  color: #492008;
  font-family: "Clash Grotesk";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 7.68px;
  /* background: darkcyan; */
  width: 320px;
  margin: 0;
}

#container1_1_p2 {
  color: #492008;
  font-family: "Clash Grotesk";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px; /* 110% */
  width: 850px;
  margin-bottom: 0;
}

#container1_1_3 {
  display: flex;
  margin-top: 38px;
  align-items: center;
}

#downArrow {
  background-size: 100%;
  width: 320px;
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 160px 0px 0px;
  background: #492008;
  box-shadow: -24px 20px 80px 0px rgba(0, 0, 0, 0.15);
}

#container1_1_3 p {
  color: #492008;
  font-family: "Clash Grotesk";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 41px;
  padding-top: 144px;
  margin-left: 10px;
}

#container1_2 {
  width: 640px;
  height: 800px;
  margin-top: -52px;
  overflow: hidden;
  display: flex;
  position: relative;
  top: 51px;
}

#container1_2 img {
  animation: slide 24s linear infinite;
  margin: 0;
  width: 100%;
  background-repeat: no-repeat;
}

@keyframes slide {
  12.50% {
    transform: translateX(0);
  }
  16.66% {
    transform: translateX(-100%);
  }
  29.16% {
    transform: translateX(-100%);
  }
  33.33% {
    transform: translateX(-200%);
  }
  45.83% {
    transform: translateX(-200%);
  }
  49.99% {
    transform: translateX(-300%);
  }
  62.5% {
    transform: translateX(-300%);
  }
  66.66% {
    transform: translateX(-400%);
  }
  79.16% {
    transform: translateX(-400%);
  }
  83.33% {
    transform: translateX(-500%);
  }
  100% {
    transform: translateX(-500%);
  }
}

#container1_2_image_name {
  color: #fff;
  font-family: "Bebas Neue";
  font-size: 53px;
  font-style: normal;
  line-height: 44px;
  width: 320px;
  width: 320px;
  height: 160px;
  flex-shrink: 0;
  position: absolute;
  left: 0px;
  bottom: 0px;

  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(6px);

  vertical-align: middle;
}

#container1_2_image_name p {
  margin: 0;
  margin-left: 40px;
}

#container1_2_image_name_1::before {
  animation: nameImage1 infinite 24s;
  content: "BALMOI ABE";
}

#container1_2_image_name_2::before {
  content: "Founder";
  animation: nameImage2 infinite 24s;
  color: #fff;
  font-family: "Manrope";
  font-size: 40px;
  font-style: normal;
  font-weight: 100;
  line-height: 36px;
}

#container1_2_image_name_3 {
  color: #fff;
  font-family: "Manrope";
  font-size: 40px;
  font-style: normal;
  font-weight: 100;
  line-height: 36px;
}

@keyframes nameImage1 {
  12.50% {
    content: "BALMOI ABE";
  }
  16.66% {
    content: "VERNACULAR";
  }
  29.16% {
    content: "VERNACULAR";
  }
  33.33% {
    content: "HISTORIC";
  }
  45.83% {
    content: "HISTORIC";
  }
  49.99% {
    content: "CIVIC";
  }
  62.5% {
    content: "CIVIC";
  }
  66.66% {
    content: "COMMUNITY";
  }
  79.16% {
    content: "COMMUNITY";
  }
  83.33% {
    content: "BALMOI ABE";
  }
  100% {
    content: "BALMOI ABE";
  }
}

@keyframes nameImage2 {
  12.50% {
    content: "Founder";
    color: #fff;
    font-family: "Manrope";
    font-size: 40px;
    font-style: normal;
    font-weight: 100;
    line-height: 36px;
  }
  16.66% {
    content: "ARCHITECTURE";
    color: #fff;
    font-family: "Bebas Neue";
    font-size: 53px;
    font-style: normal;
    /* font-weight: 400; */
    line-height: 44px;
    /* padding: 41px; */
  }
  29.16% {
    content: "ARCHITECTURE";
    color: #fff;
    font-family: "Bebas Neue";
    font-size: 53px;
    font-style: normal;
    /* font-weight: 400; */
    line-height: 44px;
    /* padding: 41px; */
  }
  33.33% {
    content: "RESTORATION";
    color: #fff;
    font-family: "Bebas Neue";
    font-size: 53px;
    font-style: normal;
    /* font-weight: 400; */
    line-height: 44px;
    /* padding: 41px; */
  }
  45.83% {
    content: "RESTORATION";
    color: #fff;
    font-family: "Bebas Neue";
    font-size: 53px;
    font-style: normal;
    /* font-weight: 400; */
    line-height: 44px;
    /* padding: 41px; */
  }
  49.99% {
    content: "RETROFITTING";
    color: #fff;
    font-family: "Bebas Neue";
    font-size: 53px;
    font-style: normal;
    /* font-weight: 400; */
    line-height: 44px;
    /* padding: 41px; */
  }
  62.5% {
    content: "RETROFITTING";
    color: #fff;
    font-family: "Bebas Neue";
    font-size: 53px;
    font-style: normal;
    /* font-weight: 400; */
    line-height: 44px;
    /* padding: 41px; */
  }
  66.66% {
    content: "SAFETY";
    color: #fff;
    font-family: "Bebas Neue";
    font-size: 53px;
    font-style: normal;
    /* font-weight: 400; */
    line-height: 44px;
    /* padding: 41px; */
  }
  79.16% {
    content: "SAFETY";
    color: #fff;
    font-family: "Bebas Neue";
    font-size: 53px;
    font-style: normal;
    /* font-weight: 400; */
    line-height: 44px;
    /* padding: 41px; */
  }
  83.33% {
    content: "Founder";
    color: #fff;
    font-family: "Manrope";
    font-size: 40px;
    font-style: normal;
    font-weight: 100;
    line-height: 36px;
  }
  100% {
    content: "Founder";
    color: #fff;
    font-family: "Manrope";
    font-size: 40px;
    font-style: normal;
    font-weight: 100;
    line-height: 36px;
  }
}

#container1_3 {
  text-align: right;
  font-family: "Bebas Neue";
  font-size: 204px;
  font-style: normal;
  font-weight: 400;
  line-height: 160px;

  background: linear-gradient(180deg, #dbd2ce 49%, #c9b3a9 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  height: 308px;
  width: 1051px;
  float: right;
  bottom: 146px;
  right: 22px;
}

#container1_3 p {
  margin-top: 5px;
}

#container1_1_3_img {
  margin-bottom: 0px;
  transition: margin-bottom 1s ease;
}

#container1_1_3_img:hover {
  margin-bottom: 100px;
}

#container2 {
  height: 960px;
  width: 100%;
  display: flex;
  position: relative;
  bottom: 148px;
}

#container2_left {
  width: 50%;
  position: relative;
}

#container2_left img {
  margin: 0;
  width: 673px;
  height: 913px;
  position: relative;
  right: 20px;
  bottom: 15px;
  transition: right 1s, bottom 1s;
}

#container2_left img:hover {
  right: 10px;
  bottom: 25px;
}

#container2_left div {
  display: inline-flex;
  padding: 33px 51px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 18px;
  width: 552px;
  height: 241px;

  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(7.5px);
  position: absolute;
  left: 604px;
  top: 0px;
}

#container2_left p {
  color: #492008;
  font-family: "Clash Grotesk";
  font-size: 46px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
}

#container2_right {
  width: 50%;
  position: relative;
}

#container2_right img {
  margin: 0;
  width: 775px;
  height: 969px;
  position: relative;
  left: 232px;
  top: 98px;
  transition: left 1s, top 1s;
}

#container2_right img:hover {
  left: 242px;
  top: 88px;
}

#container2_right div {
  display: inline-flex;
  padding: 33px 51px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 18px;
  width: 498px;
  height: 241px;

  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(7.5px);
  position: absolute;
  right: 495px;
  bottom: 60px;
}

#container2_right p {
  color: #492008;
  text-align: right;
  font-family: "Clash Grotesk";
  font-size: 46px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
}

#container3 {
  background-size: cover;
  width: 100%;
  height: 1120px;
  opacity: 100%;
  display: flex;
  margin-top: -148px;
  position: relative;
  overflow: hidden;
}

#bg_container_3 {
  width: 534px;
  height: 620px;
  position: absolute;
  right: -72px;
  top: -76px;
}

#container3_title {
  color: #a48f83;
  text-align: right;
  font-family: "Bebas Neue";
  font-size: 229px;
  font-style: normal;
  font-weight: 400;
  width: 836px;
  height: 160px;
  position: absolute;
  left: 859px;
  top: -214px;
}

#content3 {
  width: 100%;
  height: 1027px;
  position: relative;
  margin-top: 155px;
  display: flex;
}

#content3 h2 {
  margin: 20px 0;
}

#content3 p {
  margin: 20px 0;
}

#content3_1 {
  width: 33.33%;
  height: 100%;
}
#content3_1 div {
  width: 75%;
  overflow: hidden;
  float: right;
  position: relative;
  top: 5px;
  /* background: yellow; */
}

#content3_1 div h2 {
  color: #492008;
  font-family: "Clash Grotesk";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 41px;
}

#content3_1 div p {
  color: #492008;
  font-family: "Clash Grotesk";
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: 41px;
}

#content3_1_1a {
  position: absolute;
  right: 198px;
  transition: right 1s ease;
}

#content3_1_1b {
  position: relative;
}

#content3_2 {
  width: 33.33%;
  height: 100%;
}

#content3_2 div {
  width: 75%;
  overflow: hidden;
  float: right;
  position: relative;
  /* background: yellow; */
  top: 165px;
}

#content3_2 div h2 {
  color: #492008;
  font-family: "Clash Grotesk";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 41px;
}

#content3_2 div p {
  color: #492008;
  font-family: "Clash Grotesk";
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: 41px;
}

#content3_2_1a {
  position: absolute;
  right: 198px;
  transition: right 1s ease;
}

#content3_2_1b {
  position: relative;
}

#content3_3 {
  width: 33.33%;
  height: 100%;
}

#content3_3 div {
  width: 75%;
  overflow: hidden;
  float: right;
  position: relative;
  top: 325px;
}

#content3_3 div h2 {
  color: #492008;
  font-family: "Clash Grotesk";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 41px;
}

#content3_3 div p {
  color: #492008;
  font-family: "Clash Grotesk";
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: 41px;
}

#content3_3_1a {
  position: absolute;
  right: 198px;
  transition: right 1s ease;
}

#content3_3_1b {
  position: relative;
}

#container4 {
  background-image: url("assets/bg\ container\ 4.png");
  background-size: cover;
  width: 100%;
  height: 1120px;
  position: relative;
}

#content4_1 {
  max-width: 960px;
  display: flex;
  height: 319px;
  padding: 33px 51px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 18px;

  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(7.5px);
  position: absolute;
  left: 160px;
  top: 31px;
  transition: left 1s ease, top 1s ease;
}

#content4_1:hover {
  left: 180px;
  top: 11px;
}

#content4_1_head {
  color: #492008;
  font-family: "Bebas Neue";
  font-size: 112px;
  font-style: normal;
  font-weight: 400;
  line-height: 99px;
  margin: 10px 0;
}

#content4_1_desc {
  color: #492008;
  font-family: "Clash Grotesk";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 41px;
  margin: 10px 0;
}

#content4_2 {
  display: flex;
  width: 1142px;
  height: 519px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(7.5px);
  position: absolute;
  left: 269px;
  top: 470px;
  transition: left 1s ease, top 1s ease;
}

#content4_2:hover {
  left: 289px;
  top: 450px;
}

#content4_2_head {
  color: #492008;
  font-family: "Bebas Neue";
  font-size: 112px;
  font-style: normal;
  font-weight: 400;
  line-height: 99px;
  margin: 10px 0;
}

#content4_2_desc {
  color: #492008;
  font-family: "Clash Grotesk";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 41px;
  margin: 10px 0;
}

#container5 {
  width: 100%;
  height: 1280px;
  margin-top: 159px;
  position: relative;
}

#container5_1 {
  width: 66.67%;
  height: 37.5%;
  margin-left: 89px;
  display: flex;
}

#content5_1_1 {
  height: 480px;
  width: 70px;
  margin-top: 0;
  margin-left: 0;

  border: 1px solid #492008;
  background: #fff;
  /* flex-shrink: 0; */
}

#content5_1_1_top {
  display: flex;
  width: 100%;
  height: 70px;
  /* padding: 8px; */
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  cursor: pointer;

  opacity: 0.5;
  background: #492008;
}

#content5_1_1_mid {
  position: relative;
}

#content5_1_1_mid div {
  display: flex;
  justify-content: center;
  width: 100%;
}

#content5_1_1_mid_dot {
  position: absolute;
  top: 38px;
  z-index: 0;
  transition: top 1s ease;
}

#content5_1_1_mid_top {
  margin-top: 53.3px;
  position: absolute;
  cursor: pointer;
}

#content5_1_1_mid_mid {
  margin-top: 160px;
  position: absolute;
  cursor: pointer;
}

#content5_1_1_mid_bot {
  margin-top: 255px;
  position: absolute;
  cursor: pointer;
}

#content5_1_1_bot {
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
  margin-top: 340px;

  cursor: pointer;
  background: #492008;
}

#content5_1_2 {
  margin-left: 64px;
}

#content5_1_2_head {
  overflow: hidden;
  height: 180px;
  width: 992px;
}

#content5_1_2_head div {
  transform: translateY(1%);
  transition: transform 1s ease;
}

#content5_1_2_head p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #492008;
  font-family: "Bebas Neue";
  font-size: 88px;
  font-style: normal;
  font-weight: 400;
  line-height: 89px;
  margin: 0 auto;
}

#content5_1_2_desc {
  width: 980px;
  height: 300px;
  overflow: hidden;
}

#content5_1_2_desc div {
  transform: translateY(-2%);
  transition: transform 1s ease;
}

#content5_1_2_desc p {
  color: #492008;
  font-family: "Clash Grotesk";
  font-size: 33px;
  font-style: normal;
  font-weight: 400;
  line-height: 41px;
}

#container5_2 {
  width: 100%;
  height: 62.5%;
  display: flex;
}

#content5_2_1 {
  width: 480px;
  height: 799px;
  background: #492008;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-left: 160px;
}

#content5_2_1_1 {
  height: 80%;
  margin: auto;
  width: 80%;
  overflow: hidden;
}

#content5_2_1_1_content {
  width: 100%;
  height: 100%;
}

#content5_2_1_1_content_1 {
  height: 33.33%;
  overflow: hidden;
}

#content5_2_1_1_content_1 div {
  transform: translateY(5%);
  transition: transform 1s ease;
}

#content5_2_1_1_content_2 {
  height: 33.33%;
  overflow: hidden;
}
#content5_2_1_1_content_2 div {
  transform: translateY(5%);
  transition: transform 1s ease;
}
#content5_2_1_1_content_3 {
  height: 33.33%;
  overflow: hidden;
}
#content5_2_1_1_content_3 div {
  transform: translateY(5%);
  transition: transform 1s ease;
}

#content5_2_1_1_content p {
  color: #fff;
  font-family: "Bebas Neue";
  font-size: 86px;
  font-style: normal;
  font-weight: 400;
  line-height: 68.397px;
  margin-top: 5px;
}

#content5_2_2 {
  width: 640px;
  height: 640px;
  margin-left: 160px;
  margin-top: 160px;
  overflow: hidden;
}
#content5_2_2 img {
  width: 640px;
  height: 640px;
}

#content5_2_2_scroll {
  transform: translateY(0%);
  transition: transform 1s ease;
}

#content5_3 {
  width: 678px;
  height: 802px;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
}

#content5_3 img {
  width: 677px;
  height: 830px;
  scale: 1.13;
  margin: 0;
}

#content5_3_scroll {
  transform: translateY(0%);
  transition: transform 1s ease-in-out;
}

#container6 {
  height: 1280px;
  width: 100%;
  position: relative;
  margin-top: 160px;
}

#container6_1 {
  position: absolute;
  top: 0;
  right: 11px;
}

#container6_1 h5 {
  color: #a691bb;
  text-align: right;
  font-family: "Bebas Neue";
  font-size: 229.091px;
  font-style: normal;
  font-weight: 400;
  line-height: 202.5px; /* 88.393% */
  letter-spacing: -0.229px;
  margin: 0;
}

#container6_1 p {
  color: #4d2477;
  text-align: right;
  font-family: "Clash Grotesk";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 41px;
  width: 680px;
  margin: 0;
  float: right;
  margin-top: -20px;
}

#container6_2 {
  width: 65.33%;
  height: 100%;
  position: absolute;
  right: -160px;
}

#container6_2 p {
  color: #4d2477;
  font-family: "Clash Grotesk";
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 62px;
  position: relative;
}

#container6_2_1 {
  bottom: 29px;
}
#container6_2_2 {
  position: relative;
  left: 315px;
  top: 136px;
}
#container6_2_3 {
  margin-left: 630px;
  bottom: -332px;
}

#container6_3 {
  position: relative;
  left: 112px;
  top: 55px;
}

#container6_3_1 {
  width: 100%;
  height: 640px;
  position: absolute;
  left: 50px;
  overflow-x: clip;
  top: -53px;
}
#container6_3_1 p {
  display: inline-flex;
  padding: 24px 33px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: -24px 20px 80px 0px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(7.5px);

  color: #4d2477;
  font-family: "Clash Grotesk";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 41px;
  width: 780px;
  position: absolute;
  top: 75px;
  right: 1280px;
  transition: right 1s ease;
}

#container6_3_1 img {
  position: absolute;
  width: 640px;
  height: 640px;
  left: -4px;
  top: 0px;
  scale: 1.2;
}

#container6_3_2 {
  width: 100%;
  height: 640px;
  position: absolute;
  left: 370px;
  top: 266px;
  overflow-x: clip;
}
#container6_3_2 p {
  display: inline-flex;
  padding: 24px 33px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  background: rgba(255, 255, 255, 0.8);
  box-shadow: -24px 20px 80px 0px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(7.5px);

  color: #4d2477;
  font-family: "Clash Grotesk";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 41px;
  width: 703px;
  position: absolute;
  top: 38px;
  right: 1300px;
  transition: right 1s ease;
  z-index: -1;
}

#container6_3_2 img {
  position: absolute;
  width: 640px;
  height: 640px;
  left: -4px;
  top: 5px;
  scale: 1.2;
}

#container6_3_3 {
  width: 50%;
  height: 640px;
  position: absolute;
  left: 800px;
  top: 640px;
}
#container6_3_3 p {
  display: inline-flex;
  padding: 24px 33px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: -24px 20px 80px 0px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(7.5px);

  color: #4d2477;
  font-family: "Clash Grotesk";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 41px;
  width: 400px;
  position: absolute;
  top: 80px;
  right: 500px;
  transition: right 1s ease;
}

#container6_3_3 img {
  position: absolute;
  width: 640px;
  height: 640px;
  left: -112px;
  top: -51px;
  scale: 1.2;
}

#container7 {
  width: 100%;
  height: 800px;
  display: flex;
}

#container7_1 {
  width: 41.67%;
  height: 100%;
}

#container7_1_1 {
  background: #8d380f;
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 160px;
  left: 320px;
  bottom: 0px;
  transition: left 1s ease, bottom 1s ease;
}

#container7_1_1:hover {
  left: 325px;
  bottom: 5px;
}

#container7_1_1 svg {
  width: 101.08px;
  height: 101.08px;
  flex-shrink: 0;
}

#container7_1_2 {
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  left: 160px;
}

#container7_1_2div {
  width: 160px;
  height: 160px;
  flex-shrink: 0;
  background: #8d380f;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: left 1s, bottom 1s;
  left: 0px;
  bottom: 0px;
}

#container7_1_2div:hover {
  left: 5px;
  bottom: 5px;
}

#container7_1_2 p {
  color: #8d380f;
  text-align: right;
  font-family: "Bebas Neue";
  font-size: 101px;
  font-style: normal;
  font-weight: 400;
  margin: 0 0 0 7px;
}
#container7_1_3 {
  width: 160px;
  height: 160px;
  flex-shrink: 0;
  background: #8d380f;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 480px;
  bottom: 0px;
  transition: left 1s, bottom 1s;
}

#container7_1_3:hover {
  left: 485px;
  bottom: 5px;
}

#container7_2 {
  width: 58.33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container7_2 img {
  width: 1150px;
  height: 887px;
  position: relative;
  right: 7px;
  bottom: 20px;
  top: -18px;
}

#container8 {
  width: 100%;
  height: 1005px;
}

#container8 p {
  color: #a691bb;
  text-align: center;
  font-family: "Bebas Neue";
  font-size: 256.913px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
}

#container8_wheel {
  width: 1920px;
  height: 860px;
  position: relative;
  text-align: center;
  bottom: 189px;
  overflow: hidden;
}

#container8_wheel img {
  scale: 0.96;
}

#container8_wheel1 {
  position: absolute;
  left: -39px;
  top: 0px;
  animation-name: spinRight;
  animation-duration: 45s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#container8_wheel2 {
  position: absolute;
  left: -39px;
  top: 0px;
  animation-name: spinLeft;
  animation-duration: 45s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#container8_wheel3 {
  position: absolute;
  left: 114px;
  top: 142px;
  animation-name: spinRight;
  animation-duration: 45s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#container8_wheel4 {
  position: absolute;
  left: 400px;
  top: 416px;
  animation-name: spinLeft;
  animation-duration: 45s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#container8_wheel5 {
  position: absolute;
  left: 687px;
  top: 693px;
}

#concepts {
  height: 160px;
  margin-top: 160px;
  margin-right: 50px;
}

#concepts1 {
  margin: 0;
  color: #a691bb;
  text-align: right;
  font-family: "Bebas Neue";
  font-size: 229.091px;
  font-style: normal;
  font-weight: 400;
  line-height: 202.5px; /* 88.393% */
  letter-spacing: -0.229px;
  margin-top: -7px;
}

#concepts2 {
  margin: 0;
  width: 1135px;
  height: 150px;
  flex-shrink: 0;
  color: #4d2477;

  text-align: right;
  font-family: "Clash Grotesk";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 41px;
  float: right;
}

@keyframes spinRight {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinLeft {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@media only screen and (min-width: 360px) and (max-width: 389px) {
  body {
    zoom: 18.5%;
  }
}

@media only screen and (min-width: 390px) and (max-width: 411px) {
  body {
    zoom: 20%;
  }
}

@media only screen and (min-width: 412px) and (max-width: 428px) {
  body {
    zoom: 21%;
  }
}

@media only screen and (min-width: 429px) and (max-width: 500px) {
  body {
    zoom: 22%;
  }
}

@media only screen and (min-width: 1920px) {
  body {
    overflow-x: hidden;
  }
}
